:root, body, table, button, div, span.p-dropdown-label, input {
  margin: 0;
  font-family: Roboto, 'Cantarell', Ubuntu, 'Helvetica Neue', 'Oxygen', 'Droid Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 
  'Fira Sans'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
